.index{
  background-image: url(./static/imagens/1.png) ;
  background-repeat: no-repeat;
  background-position: center/80%; 
  background-size: cover; 
  margin: 0px;
}

.testes{
  background-image: url(./static/imagens/2.png) ;
  /* background-repeat: no-repeat; */
  /* background-position: center/80%;  */
  /* background-size: cover;  */
  margin: 0px;
}

.artes{
  background-image: url(./static/imagens/3.png);
  margin: 0px;
}

.navbar{
  margin-top: 25px;
  margin-bottom: 65px;
  padding-top: 0.5px;
  padding-bottom: 0px;
  position:static;
  text-align: justify;
}

.a{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 35px;
  color: rgb(0, 0, 0);
  background-color: rgba(99, 61, 134, 0.8);
  transition: background-color 0.5s;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  border-radius: 10%;
  border: none;
}

.a:hover{
  background-color: rgba(72, 0, 139, 0.7);
}

.a:active {
  background-color: rgba(45, 0, 87, 0.7);
} 



.div::before {
  content: " sei la so testa ";
  font: 10pt Arial;
  font-weight: bold;
  color: rgb(125, 101, 173);
  background-color: #4a2d53;
  padding: 5px;
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  width: 560px;
  font-size: 25px;
}
  
.div {
  background-color: rgba(76, 58, 99, 0.8);
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 550px;
  min-height:300px;
  font-size: 30px;
}

.IL{
    background-color: rgba(70, 54, 92, 0.7);
    margin-left: 5px;
    padding: 10px;
    width: 550px;
    min-height:300px;
    display:flex;
    font-size: 28px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7b35bd;
}

.desenhos:before {
  content: " alguns desenhos que eu fiz ";
  font: 10pt Arial;
  font-weight: bold;
  color: rgb(125, 101, 173);
  background-color: #4a2d53;
  padding: 5px;
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  width: 560px;
  font-size: 25px;
}

.desenhos{
  background-color: rgba(76, 58, 99, 0.9);
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 550px;
  min-height:300px;
  font-size: 30px;
  color:#d31a67;
}

.dese{
  padding-left: 50px;
}

.coisitas{
  background-image: url(./static/imagens/4.png);
   background-repeat: no-repeat; 
   background-position: center/80%;
   background-size: 100%;
   margin: 0px;
}

.coisita::before {
  content: " cadastro ";
  font: 10pt Arial;
  font-weight: bold;
  text-align: center;
  color: rgb(125, 101, 173);
  background-color: #4a2d53;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  position: relative;
  top: -10px;
  left: -50px;
  width: 530px;
  font-size: 25px;
  
}


.coisita{
  background-color: rgba(76, 58, 99, 0.9);
  padding: 10px;
  padding-top: none;
  padding-left: 50px;
  margin-left: 10%;
  margin-right: none;
  border: none;
  width: 470px;
  min-height:300px;
  font-size: 25px;
  color:#ffffff;
}

.form::before {
  content: " login ";
  font: 10pt Arial;
  font-weight: bold;
  text-align: center;
  color: rgb(125, 101, 173);
  background-color: #4a2d53;
  padding: 5px;
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  width: 510px;
  font-size: 25px;
}

.form{
  background-color: rgba(76, 58, 99, 0.9);
  margin-left: 50%;
  margin-top: -320px;
  padding: 10px;
  width: 500px;
  min-height:300px;
  font-size: 25px;
  color:#ffffff;
}

.sobre{
  background-image: url(./static/imagens/4.5.png);
  margin: 0px;
}

.contato{
  background-color: rgba(54, 64, 92, 0.7);
  margin-left: 5px;
  padding: 10px;
  width: 550px;
  min-height:300px;
  display:flex;
  font-size: 28px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#b63253;
}


.footer{
  background-color: rgba(54, 64, 92, 0.7);
  margin-left: 46%;
  margin-top: 15%;
  padding: 15px;
  width: 100px;
  min-height:100px;
  display:flex;
  font-size: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#b63253;
}

.alerta{
  content: "  ";
  font: 10pt Arial;
  font-weight: bold;
  color: rgb(125, 101, 173);
  background-color: #4a2d53;
  padding: 5px;
  display: flex;
  position: none;
  top: -10px;
  left: 10px;
  width: 560px;
  font-size: 25px;
}

.log{
    background-color: rgba(76, 58, 99, 0.9);

    margin-left: 85%;
    margin-top: -75px;
    margin-bottom: 0px;
    margin-bottom: none;
    padding: 5px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    color:#d31a67;
    border-radius: 10px;
}

.pqp{
  text-align: center;
  margin: 0px;
}

.perfil{
  width: 70px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 50%;
}

.logb{
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(99, 61, 134, 0.8);
    transition: background-color 0.5s;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px; */
    text-align: center;
    border-radius: 10%;
    border: none;
  }
  
  .logb:hover{
    background-color: rgba(72, 0, 139, 0.7);
  }
  
  .logb:active {
    background-color: rgba(45, 0, 87, 0.7);
  } 
  
.ll{
  margin-top: 35px;
  margin-left: 100px;
  margin-right: 25%;
  padding-left: 10px;
}

.ll1{
  margin-top: 35px;
  margin-left: 150px;
  margin-right: 125px;
  padding-left: 10px;
}

.label{
   padding-left: 55px;
   padding-bottom: 10px;
   padding-top: 20; 
}

.input{
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  color: rgb(250, 250, 250);
  background-color: rgba(64, 15, 87, 0.8);
  transition: background-color 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  border-radius: 10%;
  border: none;
}

.input:hover{
  background-color: rgba(97, 61, 131, 0.7);
}

.input:active {
  background-color: rgba(118, 25, 146, 0.7);
} 

.inputA{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
  font-size: 20px;
  color: rgb(250, 250, 250);
  background-color: rgba(64, 15, 87, 0.8);
  transition: background-color 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 25px;
  text-align: center;
  border-radius: 10%;
  border: none;
}

.inputA:hover{
  background-color: rgba(97, 61, 131, 0.7);
}

.inputA:active {
  background-color: rgba(118, 25, 146, 0.7);
} 

#texto.campo{
  width: 450px;
  height: 150px;
  border-radius: 5px;
  background-color: rgb(141, 109, 185);
  font-size: 15px;
  color:rgb(0, 0, 0);
}
#texto::placeholder{
  color:#4a2d53;
}


.testleft{
  background-color: rgba(70, 54, 92, 0.9);
  margin-left: 100px;

  padding: 10px;
  width: 550px;
  min-height:300px;
  display:flex;
  font-size: 28px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#9716b8;
  float:left;
}
.testright{
  background-color: rgba(70, 54, 92, 0.9);
  margin-left: 300px;
  padding: 10px;
  width: 570px;
  min-height:300px;
  display:block;
  font-size: 19px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#9716b8;
  float: left;
  place-content:block;
  border-radius: 10px;
}

.inputC{
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 40px;
  font-size: 20px;
  color: rgb(250, 250, 250);
  background-color: rgba(64, 15, 87, 0.8);
  transition: background-color 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  border-radius: 10%; 
  border: none;
}

.inputC:hover{
  background-color: rgba(97, 61, 131, 0.7);
}

.inputC:active {
  background-color: rgba(118, 25, 146, 0.7);
}


.tab{
background-color: rgb(141, 109, 185);
border-radius: 2%;  
border-collapse:separate;
border-spacing: 3px;
font-size: 20px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#4a2d53;
border-spacing: none;
empty-cells: hide;
}

.aa{
  font-size: 18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-spacing: 0;
  empty-cells: hide;
  margin: 0px;
  padding: 2px;
  width: 30px;
  min-height:15px;
} 

.img{
  background-color: rgba(76, 58, 99, 0.9);
  margin-left: 50px;
  margin-top: 80px;
  padding: 10px;
  width: 450px;
  min-height:100px;
  font-size: 25px;
  color:#8b8b8b;
}

.perfilA{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 12px;
  padding: 1px;
  font-size: 18px;
  color: rgb(250, 250, 250);
  background-color: rgba(119, 89, 133, 0.8);
  text-align: start;
  border: none;
  border-radius: 10px;
}
.perfilA[type="file"]{
  display: flex;
}

.perfilA:file-selector-button{
  padding: none;
  border: none;
  margin: none;
}



.inputB{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 40px;
  font-size: 20px;
  color: rgb(250, 250, 250);
  background-color: rgba(64, 15, 87, 0.8);
  transition: background-color 0.5s;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 15px;
  text-align: start;
  border-radius: 10%;
  border: none;
}

.inputB:hover{
  background-color: rgba(97, 61, 131, 0.7);
}

.inputB:active {
  background-color: rgba(118, 25, 146, 0.7);
} 


.comper{
text-align: justify;
margin: 5px;
overflow: auto;
}

.azin{
font-size: 15px;
margin-left: 480px;
}